require 'date'
module SpecMangler
  def initialize(*)
    super do |spec|
      yield spec
      spec.metadata.delete('allowed_push_host')
      commit_time = DateTime.parse(`git log -1 --format=%cd`.strip).utc.strftime('%Y%m%d.%H%M')
      raise unless $?.success? && commit_time
      spec.version = spec.version.to_s + "." + commit_time
    end
  end
end
class Gem::Specification
  prepend SpecMangler
end
